@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Cookie|Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*** general ***/
html,body{
    height: 100%;
    margin: 0;
}
body{
overflow-x:hidden;
a:hover{text-decoration:none}
}
#body{margin-top:235px;position:relative}
#wrapper{min-height:100%}
#content{padding-top:30px;}
footer{
    color:#bfbfbf;bottom:0px;height:40px;padding:10px;background-color:#202020;
}
/**** layout ****/
.custom-header{
    background-color:#202020;border-radius:0;
    .container-fluid{width:750px}
    h1{
        font-family:'Open Sans';text-shadow:none;width:160px;color:#ace600;
        font-weight:700;font-size:40px
    }

    .nav a,.nav a:focus{
        text-decoration:none;background-color:inherit;color:#bfbfbf;
    }

    .nav li{width:94px;margin-right:10px}
    .nav a::before{
        content:"";position:absolute;background-color:#bfbfbf;
        height:2px;width:100%;transition:all 0.3s;top:3px;left:0px
    }
    .nav a:hover, .nav .selected{
        background-color:#202020;color:#ace600;text-decoration:none
    }
    .nav a:hover::before{height:3px;background-color:#ace600}
    .nav .selected::before{height:3px;background-color:#ace600}
    .navbar-toggle{background-color:#fff;color:#ace600}
    .navbar-toggle:hover{background-color:#ace600;color:#fff}
}

#career{color:#fff;font-size:22px;font-family:'Great Vibes'} 
#navbar-links{overflow:hidden;margin-top:80px}


/**** home ***/
.container{
    #hello{font-family:'Open Sans';color:#73e600;font-size:50px;font-weight:700}
    #availabl{font-size:20px;color:#73e600}
    #mycv{margin-top:10px}
    .info-item{
        margin-bottom:20px;font-size:14px;
        .info-title{color:#3d3d5c;margin:0px};
        #social{margin-bottom:5px}
    }
    .button{
        color:#fff;background-color:#73e600;padding:4px 20px;font-weight:700
    }
    .button:hover{text-decoration:none;opacity:0.6}
    .say{font-size:16px}
    .reference{font-size:13px;color:#707070}
    .dropdown-toggle{cursor:pointer;padding:0px 6px}
    .dropdown-menu{
        padding:0;border-radius:0;
        li a:hover{background-color:#e6e6e6}
    }
    h4{font-size:18px;color:#3d3d5c}
    a{color:#707070}
   
}
#first-col{padding-left:0px}
/*** projects ***/
.feedback{
        font-size:13px;color:#707070;
        .fa-star-o+span{margin-right:20px}
    }
.fa-plus-circle{
    position:absolute;bottom:15px;right:20px;
    font-size:50px;color:#ace600;cursor:pointer
}

/**** cv ****/
header {
    h1{color:#73e600}
    h2{color:#234a51}
}
.container{
    hr{border:0.4px solid #d9d9d9}
    p{line-height:24px;font-size:16px;color:#666}
    .work-title{font-size:18px;display: block;color:#234a51}
    .container p{line-height:16px}
} 

header h1,header .tooltip1{display:inline-block}
.tooltip1 {
    position: relative;
}

.tooltip1 .tooltiptext {
	position: absolute;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    bottom:130%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/**** header ****/
header{
border:1px solid #bfbfbf;padding:30px 16px;border-radius:6px;background-color:#f2f2f2;color:#606060;margin-bottom:30px
}

.container i:hover{color:black}
.container{width:750px;animation:fade-in 3s forwards;}
@keyframes fade-in{
0%{opacity:0;}
100%{opacity: 100%}
}

/**** contact****/
#contact-wrap{
    h1{margin-bottom:20px;color:#ace600}
    input{border:1px solid #ccc;padding-left:15px;width:300px;margin-bottom:10px}

} 
.container #contact-wrap input[type=submit]{
border-color:#99cc00;padding:3px;background-color:#ddff99;
}
.container #contact-wrap #msg{height:100px}
.container #contact-wrap #myname{font-size:24px;color:#001b4d}

/*flash*/
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

#contact-form,#flash-message{margin-top:260px}
/*** admin ***/
#login{
    background-color:#111;border-radius:8px;text-align: center;
    padding-top:20px;padding-bottom:40px;
    h2 {
        color:#ace600;
    }
    span{color:#fff;font-size:15px}
    #ok{color:#111}
}
.field {
    margin-bottom:15px;
    input[type=text], textarea{
    width:100%;border:1px solid #b3b3b3;border-radius:4px;
    padding:3px 12px;background-color:#f2f2f2
    }
}

/*** responsive ***/
@media(max-width:768px){
    .custom-header{
        .navbar-header{margin-left:20px}
        .container-fluid{width:100%}
        .navbar-toggle{margin-top:-30px}
        .nav li{margin:auto}
    } 
    .container{width:100%}
    header img{max-width:100%}
    .vertical{border:none;height:100%}
    #contact-wrap input{width:100%}
    #navbar-links{margin-top:0px}
}
