<header class="clearfix row">
	<div class="col-xs-6">
		<h1>CV</h1>
		<a href="mycv.pdf" download class="tooltip1">
			<i class="fa fa-download" aria-hidden="true">
				<span class="tooltiptext">download CV</span>
			</i>
		</a>
		<h2>Yardagan Al Hamed</h2>
		<p>Qushtapa/Erbil/Iraq</p>
		<p>E-mail: gooryalhamed@gmail.com</p>
		<p>Mobile: 07506089660</p>
		<ul class="list-inline">
			<li><a href="https://www.facebook.com/goory.alhamed" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://github.com/gooryalhamed" target="_blank"><i class="fa fa-github"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCeXZ7WibE8Fb-2EnTHBqhDw" target="_blank"><i class="fa fa-youtube"></i></a></li>
			<li><a href="https://www.linkedin.com/in/yardagan-al-hamed-055702140/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<%= image_tag("my-image.jpg", :class=>"col-xs-6 thumbnail")%>
</header>
<div class="row">
	<div class="col-md-8">
		<h4>Professtional Info</h4><hr>
		<p>Junior web developer. Skilled at creating web applications and designing websites. Excellent written and oral communication skills. Cpable of work under pressure and work with a team.</p>

		<h4>Work Experience</h4><hr>
		<span class="work-title">Data Entry</span>
		<span>2014-2016 /ERC</span>
		<p>I worked as data entry in the camp management in Qushtapa camp. I was responsible for managing the database system for the camp and the job center.</p>

		<span class="work-title">Computer Teacher</span>
		<span>2014-2015 /NRC</span>
		<p>I taught basic computer skills for youth refugees such as windows,word and power point.</p>

		<span class="work-title">Coding Trainer</span>
		<span>2017 /IOM & Re:Coded</span>
		<p>I taught scratch video game design for kids (12-18 years old) in a summer bootcamp for one month.
		</p>

		<span class="work-title">Arabic Teacher</span>
		<span>2017 /NATAKALLAM</span>
		<p>I work as Arabic teacher/conversation partner for natakallam. I help English speakers to improve their Arabic speaking,reading and listening skills. I have six students from different countries.</p>

		<h4>Education</h4><hr>
		<span class="work-title">Damascus University - Computer Engineering</span>
		<span>2007-2013</span>
		<p>I studied computer engineering in Syria and I reached the fourth class.</p>
		<span class="work-title">Flatiron School - Full-Stack Web Development</span>
		<span>2017</span>
		<p>I studied both front-end and back-end web developemnt at 'flatiron school' which is based in the US over learn.co platform for seven months.</p>
	</div>
	<div class="col-md-4">
		<h4>Programming Skills</h4><hr>
		<div class="container">
			<p>HTML</p>
			<p>CSS</p>
			<p>Javascript</p>
			<p>Ruby On Rails</p>
			<p>Sqlite3</p>
			<p>Jquery</p>
			<p>AJAX & API</p>
		</div>

		<h4>Computer Skills</h4><hr>
		<div class="container">
			<p>Visual Studio</p>
			<p>SQL Server</p>
			<p>Microsoft Office Applications</p>
			<p>WIX website builder</p>
		</div>

		<h4>Languages</h4><hr>
		<div class="container">
			<p>English</p>
			<p>Arabic</p>
			<p>Kurdish</p>
		</div>
	</div>
</div> <!-- end row -->