<header class="clearfix row">
	<div class="col-md-7">
		<h1>CV</h1>
		<h2>Yardagan Al Hamed</h2>
		<p>Qushtapa/Erbil/Iraq</p>
		<p>E-mail: gooryalhamed@gmail.com</p>
		<p>Mobile: 07506089660</p>
		<ul class="list-inline">
			<li><a href="https://www.facebook.com/goory.alhamed" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://github.com/gooryalhamed" target="_blank"><i class="fa fa-github"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCeXZ7WibE8Fb-2EnTHBqhDw" target="_blank"><i class="fa fa-youtube"></i></a></li>
			<li><a href="https://www.linkedin.com/in/yardagan-al-hamed-055702140/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<%= image_tag("myimage.jpg", :class=>"col-md-5 thumbnail")%>
</header>
<div class="row">
	<div class="col-md-8">
		<h4>Professtional Info</h4><hr>
		<p>Junior web developer. Skilled at creating web applications and designing websites. Excellent written and oral communication skills. Cpable of work under pressure and work with a team.</p>

		<h4>Work Experience</h4><hr>
		<span class="work-title">Data Entry</span>
		<span>2014-2016 /ERC</span>
		<p>I worked as data entry in the camp management in Qushtapa camp. I was responsible for managing the database system for the camp and the job center.</p>

		<span class="work-title">Computer Teacher</span>
		<span>2014-2015 /NRC</span>
		<p>I taught basic computer skills for youth refugees such as windows,word and power point.</p>
		<span class="work-title">Arabic Teacher</span>
		<span>2017 /NATAKALLAM</span>
		<p>I work as Arabic teacher/conversation partner for natakallam. I help English speakers to improve their Arabic speaking,reading and listening skills. I have six students from different countries.</p>
		
		<span class="work-title">Coding Trainer</span>
		<span>2017 /IOM & Re:Coded</span>
		<p>I taught scratch video game design for kids (12-18 years old) for one month.
		</p>

		<h4>Education</h4><hr>
		<span class="work-title">Damascus University - Computer Engineering</span>
		<span>2007-2013</span>
		<p>I studied computer engineering in Syria for four years. In 2013 I had to leave Syria and couldn't complete my studying.</p>
		<span class="work-title">Flatiron School - Full-Stack Web Development</span>
		<span>2017</span>
		<p>At 'flatiron school' I studied both front-end and back-end web developemnt within a program called Re:Coded for seven months.</p>
	</div>
	<div class="col-md-4">
		<h4>Programming Skills</h4><hr>
		<div class="container">
			<p>HTML</p>
			<p>CSS</p>
			<p>JAVASCRIPT</p>
			<p>RUBY ON RAILS</p>
			<p>SQL</p>
			<p>JQUERY</p>
			<p>AJAX & API</p>
		</div>

		<h4>Computer Skills</h4><hr>
		<div class="container">
			<p>Visual Studio</p>
			<p>SQL SERVER</p>
			<p>Microsoft Office Applications</p>
			<p>WIX</p>
		</div>

		<h4>Languages</h4><hr>
		<div class="container">
			<p>English</p>
			<p>Arabic</p>
			<p>Kurdish</p>
		</div>
	</div>
</div> <!-- end row -->