<header class="clearfix">
	<%= image_tag("myimg.jpg", :class=>"col-sm-4 thumbnail") %>
	<div class="col-sm-5">
		<span id="hello">HELLO,</span><br>
		<span id="availabl">I'm available for work.</span>
		<p id="desc">I am an open-minded full-stack web developer. I have high technical skills in creating websites,web applications and designing database management systems. I aspire to work in a challenging environment where I can use my creative problem solving skills. </p>
		<a class="button" href="/my-cv" id="mycv">MY CV</a>
	</div>
	
	<div class="col-sm-3" id="first-col">
		<div class="info-item">
			<span class="info-title">Available For:</span><br>
			Web development<br>
			DBMS development
		</div>
		<div class="info-item">
			<span class="info-title">Website:</span>
			gooryalhamed.github.io
		</div>
		<div class="info-item">
			<span class="info-title">Cell:</span><br>
			+964-7506089660
		</div>
		<div class="info-item">
			<span class="info-title">Email:</span>
			gooryalhamed@gmail.com
		</div>
		<div class="info-item">
			<span class="info-title" id="social">Social Links:</span>
			<ul class="list-inline">
				<li><a href="https://www.facebook.com/goory.alhamed" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://github.com/gooryalhamed" target="_blank"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCeXZ7WibE8Fb-2EnTHBqhDw" target="_blank"><i class="fa fa-youtube"></i></a></li>
				<li><a href="https://www.linkedin.com/in/yardagan-al-hamed-055702140/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
</header>
<div class="row">
	<div class="col-sm-4 vertical">
		<h4>TESTIMONIAL</h4>
		<p class="say">"Yardagan is one of our brightest fellows."</p>
		<p class="reference">Alexandra Clare - Founder of Re:Coded organization</p>
		<p class="say">"Your mind is sharp,you work hard and you will be a gift to any company or organization or business."</p>
		<p class="reference">Audrey Watne - Country Manager of Re:Coded organization</p>
	</div>

	<div class="col-sm-4 vertical">
		<h4>FAVORITE QUOTE</h4>
		<p class="say">"Life is the biggest challenge and to be successful, you have to beat your fears."</p>
		<p class="say">"Every thing needs love to be creative."</p>
	</div>
	<div class="col-sm-4">
		<h4>RECENT PROJECT</h4>
		<p>This is my recent project. It is open source project. You can see it on github, just follwo the link below:</p>
		<a href="https://github.com/gooryalhamed/My-Portfolio" target="_blank">My Portfolio</a>
	</div>
</div>
