<header>
	<div class="container">
		<h1>PROJECTS</h1>
		<p>Below is a list of open source projects I made.</p>
	</div>
</header>
<h3>LATEST PROJECTS</h3>
<div class="row">
	<%= image_tag("myresume-1.png", :class=>"col-sm-2 col-xs-4")%>
	<div class="col-md-10">
		<h4 class="pro-name">My Portfolio</h4>
		<p>This project is the site you are browsing now.<br>
		<a href="https://github.com/gooryalhamed/My-Portfolio" target="_blank" class="source-code">See the source code</a>
		</p>
	</div>
</div>
<hr>
<div class="row">
	<%= image_tag("recoded-final-project.png", :class=>"col-sm-2 col-xs-4")%>
	<div class="col-md-10">
		<h4 class="pro-name">Re:Coded final project</h4>
		<p>This project was the final project for web development in re:coded program. It is a website that uses basic web programming languages(HTML,CSS,JS) and some teqniques like AJAX,API and handlebars.<br>
		<a href="https://github.com/gooryalhamed/gooryalhamed.github.io" target="_blank" class="source-code">See the source code</a>&emsp;
		<a href="https://gooryalhamed.github.io/" target="_blank" class="source-code">See the project</a>
		</p>
	</div>
</div>
<hr>
<div class="row">
	<%= image_tag("rubygem.png", :class=>"col-sm-2 col-xs-4")%>
	<div class="col-md-10">
		<h4 class="pro-name">CLI Ruby Gem</h4>
		<p>This project is a ruby gem that interacts with the user and gives them a list of the best restaurants,hotels or beaches in the world by scrabing a website.<br>
		<a href="https://github.com/gooryalhamed/top25-cli-gem" target="_blank" class="source-code">See the source code</a>
		</p>
	</div>
</div>
<hr>
