<!DOCTYPE html>
<html>
<head>
	<title>Myportfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
</head>

<body>
	<!-- navbar -->
	<nav class="navbar navbar-fixed-top custom-header">
		<div class="container-fluid">
			<div class="navbar-header">
				<a>
					<h1>Yardagan &nbsp;&nbsp;<span style="color:#bfbfbf">Hamed</span>
					</h1>
					<span id="career">Web Developer</span>
				</a>
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-links">
				<ul class="nav navbar-nav navbar-right">
					<li class="text-center">
						<a href="/" class="selected" id="home">HOME</a>
					</li>
					<li class="text-center">
						<a href="/my-cv" id="cv">CV</a>
					</li>
					<li class="text-center">
						<a href="/my-projects" id="projects">PROJECTS</a>
					</li>
					<li class="text-center">
						<a href="/contacts/new" id="contact">CONTACT</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
	</div>
	<!-- footer -->
	<footer class="text-center">
		<p>copyrights&copy;2017</p>
	</footer>
</body>
</html>
