<!DOCTYPE html>
<html>
<head>
	<title>Myportfolio</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<!-- navbar -->
	<nav class="navbar navbar-fixed-top custom-header">
		<div class="container-fluid">
			<div class="navbar-header navbar-right">
				<a>
					<h1>Yardagan &nbsp;&nbsp;<span style="color:#bfbfbf">Hamed</span></h1>
					<span id="career">Web Developer</span>
				</a>
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-left" id="navbarllinks">
				<ul class="nav navbar-nav">
					<li class="text-center"><a href="/"><hr>HOME</a></li>
					<li class="text-center"><a href="/my-cv"><hr>CV</a></li>
					<li class="text-center"><a href="/my-projects"><hr>PROJECTS</a></li>
					<li class="text-center"><a href="/contacts/new"><hr>CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
	</div>
	<!-- footer -->
	<footer class="text-center">
		<p>copyrights&copy;2017</p>
	</footer>
</body>
</html>
